//- Start Contact
section.contact
    .container
        .contact-cont
            .contact-info
                span Get In Touch
                h2 Visit One Of Our Agency Locations Or Contact Us Today
                h4 Head Office
                ul
                    li #[i(class="fas fa-map")] 56 Glassford Street Glasgow GI IUL New York
                    li #[i(class="fas fa-envelope")] contact@example.com
                    li #[i(class="fas fa-phone")] contact@example.com
                    li #[i(class="fas fa-clock")] Monday To Saturday 09:00 AM : 16:00 PM
            .map
                iframe(
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12094.593022102921!2d-73.98903253716666!3d40.72575916928468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e1a87b55b5%3A0x216b83e9f8b01a97!2sNew%20York%20University!5e0!3m2!1sar!2seg!4v1650368411797!5m2!1sar!2seg",
                    width="600",
                    height="450",
                    style="border:0;",
                    allowfullscreen="",
                    loading="lazy",
                    referrerpolicy="no-referrer-when-downgrade")
//- End Contact